<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--font awesome-->
    <script
      src="https://kit.fontawesome.com/40305d2e99.js"
      crossorigin="anonymous"
    ></script>
    <!--ionicons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Toastr -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include("../components/header.ejs") %> <%- body %>
    <%-include("../components/footer.ejs") %>

    <!-- Jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="/javascripts/main.js"></script>
    <% if(productScript){ %>
    <script src="/javascripts/product.js"></script>
    <% } %>

    <!-- Initialize Swiper -->
    <script>
      window.addEventListener(
        "load",
        () => {
          new Swiper(".mySwiperHomePage", {
            direction: "horizontal",
            autoHeight: true,
            autoplay: {
              delay: 3 * 1000,
            },
            loop: true,
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
          });
        },
        false
      );

      new Swiper(".mySwiper-card", {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        autoplay: {
          delay: 3 * 1000,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          1336: {
            slidesPerView: 3,
            spaceBetweenSlides: 30,
          },

          992: {
            slidesPerView: 2,
            spaceBetweenSlides: 40,
          },
          500: {
            slidesPerView: 1,
            spaceBetweenSlides: 30,
          },
          // when window width is <= 499px

          // when window width is <= 999px
        },
      });
    </script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
      var swiper2 = new Swiper(".mySwiper2", {
        loop: false,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper,
        },
      });
    </script>
  </body>
</html>
