<main>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="img-fluid">
          <source media="(max-width:400px )" srcset="/images/slide-1/1.jpg" />
          <source media="(max-width:768px )" srcset="/images/slide-1/2.jpg" />
          <source media="(max-width:1024px )" srcset="/images/slide-2/4.jpg" />
          <source media="(max-width:1536px )" srcset="/images/slide-2/5.jpg" />
          <source media="(max-width:3500px )" srcset="/images/slide-1/3.webp" />

          <img src="images/2.webp" alt="" />
        </picture class="img-fluid">
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width:400px )" srcset="/images/slide-2/1.jpg" />
          <source media="(max-width:768px )" srcset="/images/slide-2/2.jpg" />
          <source media="(max-width:1024px )" srcset="/images/slide-2/4.jpg" />
          <source media="(max-width:1536px )" srcset="/images/slide-2/5.jpg" />
          <source media="(max-width:3500px )" srcset="/images/slide-2/3.jpg" />

          <img src="images/2.webp" alt="" />
        </picture class="img-fluid">
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width:400px )" srcset="/images/slide-/1.jpg" />
          <source media="(max-width:768px )" srcset="/images/slide-3/2.jpg" />
          <source media="(max-width:1024px )" srcset="/images/slide-2/4.jpg" />
          <source media="(max-width:1536px )" srcset="/images/slide-2/5.jpg" />
          <source media="(max-width:3500px )" srcset="/images/slide-3/3.jpg" />

          <img src="images/2.webp" alt="" />
        </picture class="img-fluid">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
<div class="container-fluid"></div>


</main>
