<main>
  <div class="container">
    <% tickets.forEach((ticket)=> {%>

    <div class="card-dark bg-dark text-white m-3">
      <div class="card-body">
        <h5 class="card-title"><%= ticket.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= ticket.email %></h6>
        <p class="card-text"><%= ticket.content %></p>
      </div>
    </div>

    <%}) %>
  </div>
</main>
