<main>
  <div class="container kutum">
    <div class="row">
      <div class="col-md-5 p-4">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/deneme/1.png" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-7 p-4">
        <ul class="product-feature-list">
          <li><h2 class="product-model"><%= product.name %></h2></li>
          <li><p><%= product.features%></p></li>
          <li><h2 class="product-model"><%= product.price %> TL</h2></li>
          <li>
            <button class="btn btn-primary raunded">sepete ekle</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
