<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 p-3 m-auto col-md-offset-4 login-box">
        <h1 class="text-center mb-3 text-white">
          <i class="fas fa-user-plus"></i> Register
        </h1>

        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control user-text"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control user-text"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control user-text"
              placeholder="Create Password"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control user-text"
              placeholder="Confirm Password"
            />
          </div>
          <button id="register" class="btn btn-primary btn-block m-3">
            Register
          </button>
        </form>
        <p class="lead mt-4 text-white">
          Have An Account? <a href="/login"> Login</a>
        </p>
      </div>
      <div class="col-lg-9">
        <img
          src="/images/dragon/2.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</main>
