body {
  background-color: #15161a;
}
.swiper-wrapper {
  height: 600px;
  width: 100%;
}

/* Submit Right / admin */
.submit {
  display: block;
  margin-left: auto;
}
.admincard {
  border: 0px solid #0d6efd;
}
.admincard:hover {
  border: 1px solid #0d6efd;
  transition: 0.2s;
}
.tema {
  background-color: #15161a;
  text-shadow: 0 1px 3px #4a536c;
  color: #fff;
}
