body {
  background-color: #15161a;
}
.swiper-wrapper {
  height: 600px;
  width: 100%;
}

/* Submit Right / admin */
.submit {
  display: block;
  margin-left: auto;
  transition: 0.5;
  opacity: 0;
}

.tema {
  background-color: #15161a;
  text-shadow: 0 1px 3px #4a536c;
  color: #fff;
}
.adminincard {
  transition: 1s;
}
.admincardheader {
  opacity: 0;
  transition: 1s;
  height: 0;
}
.adminincard:hover {
  border: 1px solid #0d6efd;
}
.adminincard:hover .admincardheader,
.adminincard:hover .submit {
  opacity: 1;
  height: auto;
}
