body {
  background-color: #15161a;
}
.swiper-wrapper {
  height: 600px;
  width: 100%;
}

/* Submit Right / admin */
.submit {
  display: block;
  margin-left: auto;
}

.tema {
  background-color: #15161a;
  text-shadow: 0 1px 3px #4a536c;
  color: #fff;
}
.adminincard {
  transition: 0.3s;
}
.admincardheader {
  display: none;
  transition: 0.5s;
}
.adminincard:hover {
  border: 1px solid #0d6efd;
}
.adminincard:hover .admincardheader {
  display: block;
}
