<main>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/1.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width:3500px )" srcset="images/1.webp" />
          <img src="images/2.webp" alt="" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source media="(max-width:3500px )" srcset="images/1.webp" />
          <img src="images/2.webp" alt="" />
        </picture>
      </div>
      <div class="swiper-slide"><img src="images/1.webp" alt="" /></div>
      <div class="swiper-slide"><img src="images/2.webp" alt="" /></div>
      <div class="swiper-slide"><img src="images/1.webp" alt="" /></div>
      <div class="swiper-slide"><img src="images/2.webp" alt="" /></div>
      <div class="swiper-slide"><img src="images/1.webp" alt="" /></div>
      <div class="swiper-slide"><img src="images/2.webp" alt="" /></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</main>
