<footer>
    <div class="footer-x">
        <footer>
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-3 item">
                        <ul>
                            <li><a href="#">Ana Sayfa</a></li>
                            <li><a href="#">Ürünler</a></li>
                            <li><a href="#">Yasal Haklar</a></li>
                            <li><a href="#">Mağazalar</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 item text">
                        <h3>Drago Store</h3>
                        <p>Dragostore 2021 yılında açılmış bilgisayar ürünleri üzerine yoğunlaşmış bir e-ticaret sitesidir. Dragostore.com oyun dünyasına sunduğu inovatif çözümlerle ve her seviyeden oyuncunun ihtiyaçlarına özel geliştirdiği ürünleriyle, oyun ve espor ekosisteminin en sevilen markalarından biridir. Misyonu müşteri ve kullanıcılarını ön planda tutarak kaliteli, uygun ve yüksek performanslı; oyun bilgisayarları, aksesuarları ve iş istasyonlarını kullanıcıların önüne sunmaktır.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">DragoStore © 2021</p>
            </div>
        </footer>
    </div>
</footer>