<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark headernavdrop p-4">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase logo" href="#"
        ><img
          src="/images/logo/logo.png"
          alt=""
          class="img-fluid"
          width="250"
          height="100"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item text-uppercase">
            <a class="nav-link active" aria-current="page" href="/">anasayfa</a>
          </li>
          <li class="nav-item dropdown text-uppercase text-white">
            <a
              class="nav-link dropdown-toggle category-list"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              ürünler
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% categories.forEach((category)=> { %>
              <li>
                <a
                  class="dropdown-item"
                  href="/category/<%= category.queryName %>"
                  ><%= category.name %></a
                >
              </li>
              <% }) %>
            </ul>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link active" aria-current="page" href="/destek"
              >destek</a
            >
          </li>
        </ul>
        <form action="">
          <button id="girisyap" class="btn account">giriş yap</button>
          <button id="kayitol" class="btn account">kayıt ol</button>
          <button id="kayitol" class="btn account shopping-basket">
            <i class="fas fa-shopping-cart"></i>sepet
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
